.nurses-hiring-priority-ids-container {
	display: flex;
	justify-content: space-between;
    width: 35em;
}

.nurses-hiring-priority-ids-container div {
	border: 2px solid black;
    width: 4em;
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nurses-hiring-priority-ids-container div p{
	font-size: 2rem;
	font-weight: 600;
    margin: 0;
}
